<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body>
    <div>
        <h1>Hmm, it looks like something went wrong.</h1>
        <h2>Please make sure you entered a valid CRN for the upcoming semester.</h2>
    </div>
    <img src="/images/davidson_logo.png" alt="Davidson Image",  style="width: 500px; height: 300px;">
</body>
</html>