<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waitlist Page</title>
</head>
<body>
    <div>
        <h1>There is no match available right now, but you have been added to the waitlist!</h1>
        <h2>A student will reach out to you once a match has been found.</h2>
    </div>
    <img src="/images/davidson_logo.png" alt="Davidson Image",  style="width: 500px; height: 300px;">
</body>
</html>